<% port ||= coin.port %>

<%= link_to(coin.code.downcase + "/") do %>
  <li<%= ' id=chunkyport-box' if port == '6666' %><%= raw(' class="alert alert-danger" style="opacity: 0.7"') if coin.alert %>>
    <%= image_tag("#{coin.code.downcase}.png", alt: coin.code, class: 'pull-left img-circle') %>
    <div class="news-item-info">
      <div class="name"><%= coin.name.capitalize %></div>
      <div class="position">us-east.chunkypools.com:<%= port %></div>
      <div class="position">europe.chunkypools.com:<%= port %></div>

      <% if port == '6666' %>
        <div class="time">Workers: <%= @latest_display_data[:scrypt].multiport_workers %></div>
      <% elsif coin.type == 'p2pool' %>
        <div class="time"><strong>p2pool</strong> <i class="fa fa-external-link"></i></div>
      <% else %>
        <div class="time">Last block: <%= "%sh %sm " % time_since_last_block(coin.code) %></div>
      <% end %>
    </div>
  </li>
<% end %>
