<% display_data = @latest_display_data.public_send(algo) %>
<section class="widget">
  <header>
    <h4>
      <i class="fa fa-group"></i> Hashrate <small>Past 24 hours</small>
    </h4>
  </header>
  <div class="body no-margin">
    <div id="visits-chart" class="chart visits-chart">
      <svg></svg>
    </div>
    <div class="visits-info well well-sm">
      <% if display_data %>
      <div class="row">
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="eicon-users"></i> Pool Hashrate</div>
            <div class="value"><%= "%.0f" % display_data.hash_rate %> MH/s <i class="fa <%= arrows[0] rescue 'fa-caret-up color-green' %>"></i></div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="eicon-user"></i> Fastest Pool</div>
            <div class="value"><%= "%.0f" % display_data.best_hash_rate_value %> MH/s <i class="fa <%= arrows[1] rescue 'fa-caret-up color-green' %>"></i></div>
            <div class="subvalue label label-<%= Coin[display_data.best_hash_rate].label_color %>"><%= display_data.best_hash_rate %></div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="fa fa-plus-square"></i> Pool Workers</div>
            <div class="value"><%= display_data.workers %> <i class="fa <%= arrows[2] rescue 'fa-caret-up color-green' %>"></i></div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="fa fa-user"></i> Most Popular Pool</div>
            <div class="value"><%= display_data.most_workers_value %> <i class="fa <%= arrows[3] rescue 'fa-caret-up color-green' %>"></i></div>
            <div class="subvalue label label-<%= Coin[display_data.most_workers].label_color %>"><%= display_data.most_workers %></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
