<% multi_coin = @latest_display_data.public_send(algo).multiport_coin %>

<% if multi_coin.present? %>
  <% multi_coin = Coin[multi_coin] %>
  <section class="widget">
    <header>
      <h4><i class="eicon-network"></i> ChunkyPort</h4>
    </header>
    <div class="body">
      <ul class="news-list">
        <%= render 'coin', coin: multi_coin, port: '6666' %>
      </ul>
    </div>
  </section>
<% end %>

<section class="widget widget-tabs">
  <header>
    <ul class="nav nav-tabs">
      <% Coin::CATEGORIES.each do |category| %>
        <li<%= raw %q{ class="active"} if category == :multi %>>
          <a href="#<%= category %>" data-toggle="tab"><%= category %></a>
        </li>
      <% end %>
    </ul>
  </header>
  <div class="body tab-content">
    <% Coin::CATEGORIES.each do |category| %>
      <div id="<%= category %>" class="tab-pane<%= raw %q{ active} if category == :multi %>">
      <h5 class="tab-header"><i class="fa fa-group"></i> <%= category %> pools</h5>

      <ul class="news-list">
        <% Coin.public_send(category).each do |coin| %>
          <%= render 'coin', coin: coin %>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>
