<% content_for(:title, 'Dashboard') %>
<% content_for(:page, 'dashboard') %>

<% massage %>

<div class="content container content-tabs">
  <% if @alert.present? %>
    <div class="alert alert-info col-md-10">
      <%= raw @alert %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
    </div>
    <div class="col-md-3" style="top: 12px">
      <ul class="nav nav-tabs">
        <% Coin::CATEGORIES.each do |algo| %>
          <li<%= raw %q{ class="active"} if algo == :multi %>>
            <a href="#"><%= algo %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% Coin::CATEGORIES.each do |algo| %>
    <div class="row" id="algo-#{algo}" class="hide">
      <div class="col-md-8">
        <%= render 'graph', algo: algo %>
        <%= render 'sparklines', algo: algo %>
      </div>
      <div class="col-md-4">
        <%= render 'pools', algo: algo %>
      </div>
    </div>
  <% end %>
</div>

<script>
  window.pool_info = {};
  window.results = {};
  window.sparklines = {};
  window.sparkline_order = {};
</script>

<% Coin::CATEGORIES.each do |algo| %>
  <script>
    window.pool_info['<%= algo %>'] = <%= @latest_display_data.public_send(algo).to_json.html_safe %>;
    window.results['<%= algo %>'] = <%= @results[algo].to_json.html_safe %>;
    window.sparklines['<%= algo %>'] = <%= @sparklines[algo].to_json.html_safe %>;
    window.sparkline_order['<%= algo %>'] = <%= @sparkline_order[algo].to_json.html_safe %>;
  </script>
<% end %>
