<% content_for(:title, 'Dashboard') %>
<% content_for(:page, 'dashboard') %>

<div class="content container">
  <% if @alert.present? %>
    <div class="alert alert-info col-md-10">
      <%= raw @alert %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
    </div>
    <div class="row">
      <div class="col-md-8">
        current total hash: <%= "%.2f" % @hash %> MH/s
      </div>
    </div>
  </div>
</div>

<% if false %>
<% massage %>

<div class="content container">
  <% if @alert.present? %>
    <div class="alert alert-info col-md-10">
      <%= raw @alert %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render 'graph' %>
      <%= render 'sparklines' %>
    </div>
    <div class="col-md-4">
      <%= render 'pools' %>
    </div>
  </div>
</div>

<script>
window.pool_info = <%= @latest_display_data.to_json.html_safe %>;
window.results = <%= @results.to_json.html_safe %>;
window.sparklines = <%= @sparklines.to_json.html_safe %>;
window.sparkline_order = <%= @sparkline_order.to_json.html_safe %>;
</script>
<% end %>
