<% content_for(:title, 'Dashboard') %>
<div class="content container">
  <div class="alert alert-info col-md-10">
    <p>DOGE pool RELAUNCHED! Our custom layout, bonuses, old payouts, everything coming today! <a href="/doge/" style="color: #A9DBFF">Quick link</a> | stratum+tcp://doge.chunkypools.com:3333</a>
    <p>A very special announcement from Chunky Pools, contests and rewards programs start now. <a href="https://chunkypools.com/posts/#post-0" target="_blank" style="color: #A9DBFF">Click here for details.</a></p> 
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render 'graph' %>
      <%= render 'sparklines' %>
    </div>
    <div class="col-md-4">
      <%= render 'pools' %>
    </div>
  </div>
</div>

<script>
window.pool_info = <%= @pool_info.to_json.html_safe %>;
window.results = <%= @results.to_json.html_safe %>;
window.sparklines = <%= @sparklines.to_json.html_safe %>;
window.sparkline_order = <%= @sparkline_order.to_json.html_safe %>;
</script>
