<table class="table table-striped table-images">
  <thead>
    <tr>
      <th>Coin</th>
      <th>Address</th>
      <th>Automatic Payout Threshold</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @balances.each do |balance| %>
      <tr>
        <td>
          <p><%= link_to(coin_image(balance[:coin]), balance[:coin]) %></p>
          <div class="coin-label">
            <span class="label label-<%= label_for(balance[:coin]) %>"><%= balance[:coin].upcase %></span>
          </div>
        </td>
        <td><span class="coin-address"><%= @coin_addresses.for(balance[:coin]).address %></span></td>
        <td><span class="automatic-payout-threshold"><%= @coin_addresses.for(balance[:coin]).ap_threshold %></span></td>

        <td>
          <%= link_to('edit', "#{balance[:coin]}/index.php?page=account&action=edit", class: 'btn btn-primary') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>