<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Account <small>addresses and balances</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <section class="widget">
        <header>
          <h4>
            <i class="fa fa-bitcoin"></i>
            Balances
          </h4>
        </header>
        <div class="body">
          <table class="table table-striped table-images">
            <thead>
              <tr>
                <th>Coin</th>
                <th><span class="label label-success">Confirmed</span></th>
                <th><span class="label label-warning">Unconfirmed</span></th>
              </tr>
            </thead>
            <tbody>
              <% @balances.each do |balance| %>
                <tr>
                  <td>
                    <p><%= coin_image balance[:coin] %></p>
                    <p class="label label-<%= label_for(balance[:coin]) %> coin-label"><%= balance[:coin] %></p>
                  </td>
                  <td><%= "%.8f" % balance[:confirmed] %></td>
                  <td><%= "%.8f" % balance[:unconfirmed] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
