<%= content_for(:title, 'Account') %>
<%= content_for(:page, 'account') %>

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Account <small>addresses and balances</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <section class="widget">
        <header>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#stats" data-toggle="tab">
                <i class="fa fa-bitcoin"></i>
                Balances
              </a>
            </li>
            <li class="">
              <a href="#report" data-toggle="tab"><i class="eicon-address"></i> Addresses</a>
            </li>
          </ul>
        </header>
        <div class="body tab-content">
          <div id="balances" class="tab-pane">
            <%= render 'balances_tab' %>
          </div>
          <div id="accounts" class="tab-pane">
            <%= render 'accounts_tab' %>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section class="widget">
        <header>
          <h4>
            <i class="fa fa-sitemap"></i>
            Workers
          </h4>
        </header>
          <div class="body">
            <ul class="server-stats">
              <% @workers.each do |worker| %>
              <li>
                <div class="key pull-right"><%= worker[:coin] %></div>
                <div class="stat">
                    <div class="info"><%= "%s @ %s kH/s" % [worker[:username], worker[:hash_rate]] %></div>
                    <div class="progress progress-small">
                      <div class="progress-bar progress-bar-<%= label_for(worker[:coin]) %>" style="width: <%= worker[:hash_rate] / 20 %>%;"></div>
                    </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
      </section>
    </div>
  </div>
</div>
