<%= content_for(:title, 'Account') %>
<%= content_for(:page, 'account') %>

<div class="content container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-title">Account <small>addresses and balances</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <section class="widget">
        <header>
          <h4>
            <i class="fa fa-bitcoin"></i>
            Balances
          </h4>
        </header>
        <div class="body">
          <table class="table table-striped table-images">
            <thead>
              <tr>
                <th>Coin</th>
                <th><span class="label label-success">Confirmed</span></th>
                <th><span class="label label-warning">Unconfirmed</span></th>
                <th><span class="label label-info">BTC Value</span></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @balances.each do |balance| %>
                <tr>
                  <td>
                    <p><%= link_to(coin_image(balance[:coin]), balance[:coin]) %></p>
                    <div class="coin-label">
                      <span class="label label-<%= label_for(balance[:coin]) %>"><%= balance[:coin].upcase %></span>
                    </div>
                  </td>
                  <td><%= "%.8f" % balance[:confirmed] %></td>
                  <td><%= "%.8f" % balance[:unconfirmed] %></td>
                  <td><%= "%.8f" % (balance[:confirmed] + balance[:unconfirmed]) * @exchange_rates.for(balance[:coin]).current %></td>
                  <td><%= link_to('withdraw', "#{balance[:coin]}/index.php?page=account&action=edit", class: 'btn btn-primary') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section class="widget">
        <header>
          <h4>
            <i class="fa fa-sitemap"></i>
            Workers
          </h4>
        </header>
          <div class="body">
            <ul class="server-stats">
              <% @workers.each do |worker| %>
              <li>
                <div class="key pull-right"><%= worker[:coin] %></div>
                <div class="stat">
                    <div class="info"><%= "%s @ %s kH/s" % [worker[:username], worker[:hash_rate]] %></div>
                    <div class="progress progress-small">
                      <div class="progress-bar progress-bar-<%= label_for(worker[:coin]) %>" style="width: <%= worker[:hash_rate] / 20 %>%;"></div>
                    </div>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
      </section>
    </div>
  </div>
</div>
