<div class="logo">
  <h4>
    <%= link_to '/' do %>
      <%= image_tag 'logo.png', width: 60 %> Chunky <strong>Pools</strong>
    <% end %>
  </h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
  <ul id="side-nav" class="side-nav">
    <%= nav_item "Dashboard", "/", "dashboard", "dashboard" %>
    <%= nav_item "News & Updates", "/articles", "paperclip", "news" %>
    <%= nav_item "IRC / Chat", "/chat", "comments-o", "chat" %>

    <%= nav_spacer %>

    <% if @logged_in %>
      <%= nav_item "Account", "/account", "cog", "account" %>
    <% end %>

    <%= nav_spacer %>

    <% if @logged_in %>
      <%= nav_item "Logout", "/logout", "sign-out" %>
    <% else %>
      <%= nav_item "Login", "/login", "sign-in" %>
      <%= nav_item "Sign Up", "/register", "pencil", "register" %>
    <% end %>

    <%= nav_spacer %>

    <%= nav_item "Help / FAQ", "/faq", "question", "faq" %>
    <%= nav_item "Contact", "/contact", "inbox", "contact" %>
  </ul>
</nav>
